* {
    font-family: roboto;
    list-style-type: none;

}

#title {
    background-color: #ffffff;
    margin-top: 14;
    margin-left: 14px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

.logo {
    vertical-align: middle;
}

main {
    background-color: #f6f8f9;
    padding-top: 50px;
}

.container {
    background-color: #ffffff;
    width: 900px;
    margin: 0 auto;
}

.button {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 20%;
    border-color: #f6f8f9;
    border: 0, 5px;
}

#task {
    color: white;
    background-color: #14aaf5;
    margin-left: 55px;
}

#addsection {
    color: gray;
    background-color: #ffffff;
}

.triangle {
    font-size: small;
}

ul {
    padding-inline-start: 0px;
}

li {
    margin-top: 15px;
}

li.green-check::before {
    content: '\2713';
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 1px solid green;
    border-radius: 50%;
    color: green;
    font-size: smaller;
    vertical-align: middle;
    text-align: center;
    line-height: 15px;
    margin-left: auto;
    margin-right: 5px;
}

li.red-cross::before {
    content: '\2717';
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 1px solid red;
    border-radius: 50%;
    color: red;
    font-size: smaller;
    vertical-align: middle;
    text-align: center;
    line-height: 15px;
    margin-left: auto;
    margin-right: 5px;
}

.block {
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 35%;
    font-size: 10px;
    padding: 5px 7px;
    border: 1px;
}

.blue {
    background-color: #14aaf5;
}

.purple{
    background-color: #ab5de6;
}

.green{
    background-color: #2cc6ab;
}

.orange {
    background-color: #ff9b00;
}

.pink {
    background-color: #ec4a9d;
}

.lightgreen {
    background-color: #a3d116;
}

h3 {
    margin-block-start: 50px;
    margin-block-end: 15px;
}

.list {
    margin-left: 55px;
}